@import url("https://fonts.googleapis.com/css?family=Sarala");


h1 {
  color: #fff;
  font-family: Sarala, Arial, sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

#container {
  width: 500px;
  height: 300px;
  position: relative;
  display:none;
}

#player {
  width: 500px;
  border: 2px solid #111;
  box-shadow: 0 0 50px #111;
}

#capture-button {
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 20px;
  left: 50%;
  margin-left: -25px;
  border-radius: 50%;
  background-color: #ff0000;
  border: 2px solid #fff;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  opacity: 0.5;
  outline: none;
}
#capture-button:hover {
  transform: scale(1.1);
}
#capture-button:active {
  background-color: #00ff00;
}

#output {
  display: none;
}


.div-main{
  height: 600px;
  width:80%;
  display:flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.hide_div{
  animation: animation_hide_div 3s;
  opacity: 0;
}

@keyframes animation_hide_div {
  from    { opacity: 0.8; }
  to { opacity: 0; 
    display: none;} 
  }

/*inputs*/
.input {
  position: relative;
}
.input__label {
  position: absolute;
  left: 5px;
  top: 0;
  padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * 0.5);
  margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * 0.5);
  background: pink;
  white-space: nowrap;
  transform: translate(0, 0);
  transform-origin: 0 0;
  background: var(--color-background);
  transition: transform 120ms ease-in;
  font-weight: bold;
  line-height: 1.2;
}
.input__field {
  box-sizing: border-box; 
  width: 50%;
  border: 3px solid currentColor;
  padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
  color: currentColor;
  background: transparent;
  border-radius: 5px;
}
.input__field:not(:-moz-placeholder-shown) + .input__label {
  transform: translate(0.25rem, -150%) scale(1);
  color: var(--color-accent);
}
.input__field:not(:-ms-input-placeholder) + .input__label {
  transform: translate(0.25rem, -150%) scale(1);
  color: var(--color-accent);
}
.input__field:focus + .input__label, .input__field:not(:placeholder-shown) + .input__label {
  transform: translate(0.25rem, -150%) scale(1);
  color: var(--color-accent);
}
.hidden {
  display: none;
}
.btn{
  border-radius:10px;
	border:1px solid #000000; 
	cursor:pointer;
  background-color:#18ab29;
  color:white;
}
.btn:hover{
  background-color:#119421;
}
.myButton { 
	border-radius:50%;
	border:1px solid #18ab29; 
	cursor:pointer;
  width: 30px;
  height: 30px; 
  margin-left: auto;
  display: flex; 
  background-image: url("https://aux.iconspalace.com/uploads/arrow-right-icon-256-1808646777.png");
  background-size: 100% 100%;
  animation: move_rigth 2s infinite;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}
@keyframes move_rigth {
  from {   transform: translate(0px); }
  to   {   transform: translate(10px);} 
  }

@import "https://fonts.googleapis.com/css?family=Ubuntu:400,700italic";
@import "https://fonts.googleapis.com/css?family=Cabin:400";
* {
  box-sizing: border-box; }

html {
  background: #000;
  background-size: cover;
  font-size: 10px;
  height: 100%;
  overflow: hidden;
  position: absolute;
  text-align: center;
  width: 100%; 
  background-image: url("https://cdn.wallpapersafari.com/27/37/7y1teN.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


/* =========================================
Stark Industries Logo
========================================= */
#logo {
  animation: logo-entry 2s ease-in;
  width: 500px;
  margin: 0 auto;
  position: relative;
  z-index: 40; }

h1 {
  animation: text-glow 2s ease-out infinite alternate;
  font-family: 'Ubuntu', sans-serif;
  color: #00a4a2;
  font-size: 48px;
  font-size: 4.8rem;
  font-weight: bold;
  position: absolute;
  text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000;
  top: 50px; }
  h1:before {
    animation: before-glow 2s ease-out infinite alternate;
    border-left: 535px solid transparent;
    border-bottom: 10px solid #00a4a2;
    content: ' ';
    height: 0;
    position: absolute;
    right: -74px;
    top: -10px;
    width: 0; }
  h1:after {
    animation: after-glow 2s ease-out infinite alternate;
    border-left: 100px solid transparent;
    border-top: 16px solid #00a4a2;
    content: ' ';
    height: 0;
    position: absolute;
    right: -85px;
    top: 24px;
    transform: rotate(-47deg);
    width: 0; }

/* =========================================
Spinner
========================================= */
#circle1 {
  
  animation: circle1 2s linear infinite, circle-entry 3s ease-in-out;
  background: #000;
  border-radius: 50%;
  border: 10px solid #00a4a2;
  box-shadow: 0 0 0 2px black, 0 0 0 6px #00fffc;
  height: 500px;
  width: 500px;
  position: absolute;
  top: 200px;
  left: 50%;
  margin-left: -250px;
  overflow: hidden;
  opacity: 0.4;
  z-index: -3; }

#inner-cirlce1 {
  background: #000;
  border-radius: 50%;
  border: 36px solid #00fffc;
  height: 460px;
  width: 460px;
  margin: 10px; }
  #inner-cirlce1:before {
    content: ' ';
    width: 240px;
    height: 480px;
    background: #000;
    position: absolute;
    top: 0;
    left: 0; }
  #inner-cirlce1:after {
    content: ' ';
    width: 480px;
    height: 240px;
    background: #000;
    position: absolute;
    top: 0;
    left: 0; }

/* =========================================
Animation Keyframes
========================================= */
@keyframes logo-entry {
  0% {
    opacity: 0; }

  80% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@keyframes circle-entry {
  0% {
    opacity: 0; }

  20% {
    opacity: 0; }

  100% {
    opacity: 0.4; } }
@keyframes input-entry {
  0% {
    opacity: 0; }

  90% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@keyframes form-entry {
  0% {
    height: 0;
    width: 0;
    opacity: 0;
    padding: 0; }

  20% {
    height: 0;
    border: 1px solid #00a4a2;
    width: 0;
    opacity: 0;
    padding: 0; }

  40% {
    width: 0;
    height: 220px;
    border: 6px solid #00a4a2;
    opacity: 1;
    padding: 0; }

  100% {
    height: 220px;
    width: 500px; } }
@keyframes box-glow {
  0% {
    border-color: #00b8b6;
    box-shadow: 0 0 5px rgba(0, 255, 253, 0.2), inset 0 0 5px rgba(0, 255, 253, 0.1), 0 2px 0 black; }

  100% {
    border-color: #00fffc;
    box-shadow: 0 0 20px rgba(0, 255, 253, 0.6), inset 0 0 10px rgba(0, 255, 253, 0.4), 0 2px 0 black; } }
@keyframes text-glow {
  0% {
    color: #00a4a2;
    text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px #000, 0 0 60px #000, 0 0 70px #000; }

  100% {
    color: #00fffc;
    text-shadow: 0 0 20px rgba(0, 255, 253, 0.6), 0 0 10px rgba(0, 255, 253, 0.4), 0 2px 0 black; } }
@keyframes before-glow {
  0% {
    border-bottom: 10px solid #00a4a2; }

  100% {
    border-bottom: 10px solid #00fffc; } }
@keyframes after-glow {
  0% {
    border-top: 16px solid #00a4a2; }

  100% {
    border-top: 16px solid #00fffc; } }
@keyframes circle1 {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
